body { 

    background-color: black;


}
span.stretch {
    display:inline-block;
    -webkit-transform:scale(2,5); /* Safari and Chrome */
    -moz-transform:scale(2,5); /* Firefox */
    -ms-transform:scale(2,5); /* IE 9 */
    -o-transform:scale(2,5); /* Opera */
    transform:scale(1,9); /* W3C */
}